html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text);
  background: var(--color-bg);
}

.container {
  width: min(1200px, calc(100% - 3rem));
  margin-inline: auto;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
}
