@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap');

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

:root {
  --font-primary: 'Josefin Sans', sans-serif;
  --font-body: 'Josefin Sans', sans-serif;
  --font-heading: 'Pacifico', cursive;

  --color-primary: #6ee619;
  --color-text: #1c1917;
  --color-muted: #57534e;
  --color-bg: #f7f8f6;
  --color-surface: #ffffff;
  --color-border: #e7e5e4;
  --color-dark-bg: #182111;
  --color-dark-surface: #1c1917;
  --color-dark-text: #f5f5f4;
}

:root.dark {
  --color-text: var(--color-dark-text);
  --color-muted: #d6d3d1;
  --color-bg: var(--color-dark-bg);
  --color-surface: var(--color-dark-surface);
  --color-border: #44403c;
}
