@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap');

:root {
  --font-primary: 'Manrope', sans-serif;

  --color-primary: #6ee619;
  --color-text: #1c1917;
  --color-muted: #57534e;
  --color-bg: #f7f8f6;
  --color-surface: #ffffff;
  --color-border: #e7e5e4;
  --color-dark-bg: #182111;
  --color-dark-surface: #1c1917;
  --color-dark-text: #f5f5f4;
}

:root.dark {
  --color-text: var(--color-dark-text);
  --color-muted: #d6d3d1;
  --color-bg: var(--color-dark-bg);
  --color-surface: var(--color-dark-surface);
  --color-border: #44403c;
}
